/* Custom Stylesheet */
nav {
  background-color: #fff;
}

nav a {
  color: #444;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #5d4037 !important;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

/* CARD */
.card {
  border-width: 1em;
}

.card .card-content {
  padding: 24px 12px 12px 12px;
}

.card .card-content .card-title {
  display: block;
  line-height: 100%;
  margin-bottom: 8px;
}

.card .card-title {
  color: #5d4037 !important;
  font-size: 20px;
  font-weight: 300;
}

.card-action a {
  color: #5d4037 !important;
}

.card-action a:hover {
  text-decoration: underline;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media (min-width: 993px) {
  nav .brand-logo {
    padding-left: .5em;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.valign-wrapper {
  height: 300px;
  color: #eee;
}

/* STICKY FOOTER */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* FOOTER */
.footer-copyright a {
  padding-right: 5px;
}

/* LINK */
p.light a {
  color: #5d4037 !important;
  text-decoration: underline;
}

/* BUTTON */
button {
  background-color: #5d4037 !important;
}

/* INPUT FIELDS */
.input-field .prefix {
  color: #5d4037;
}

/* TOAST */
.toast {
  background-color: #fff !important;
  border-color: #000;
}

.toast .toast-action {
  color: #fff;
}

.toast span {
  color: #000;
  word-break: keep-all !important;
}

button.btn-flat {
  background-color: #5d4037 !important;
  color: #fff;
}