/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #5d4037 !important;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/**
 * BELOW ADDED BY SYLVESTER KLIROWSKI
 */

.valign-wrapper {
  height: 300px;
  color: #eee;
}

/* FOOTER */
.footer-copyright a {
  padding-right: 5px;
}

/* LINK */
p.light a {
  color: #5d4037 !important;
  text-decoration: underline;
}

/* BUTTON */
button {
  background-color: #5d4037 !important;
}

/* INPUT FIELDS */
.input-field .prefix {
  color: #5d4037;
}

/* TOAST */
.toast {
  background-color: #26a69a !important;
}
.toast .toast-action {
  color: #fff;
}
.toast span {
  color: #fff;
}
button.btn-flat {
  background-color: #26a69a !important;
}